.callings {
  color: $color-text;
  list-style: none;
  padding: 0;
}

.calling {
  font-size: 16px;
  list-style: none;
  min-height: 42px;
  padding: .25em 0;
  position: relative;

  &--departed {
    color: $color-text-faded;
  }

  &--selected {
    .calling__station-name {
      font-weight: 700;
    }
  }

  &--origin {
    .calling__station {
      &:before {
        top: .5em;
      }
    }
  }

  &--current {
    .calling__icon {
      background: $color-action;
      border-radius: 50%;
      border: 0.5px solid $color-text;
      color: $color-text;
      display: block;
      font-size: 18px;
      left: -29px;
      padding: 2px;
      position: absolute;
      top: 0;
      z-index: 5;
    }

    &.calling--departed {
      .calling__icon {
        top: 22px;
      }
    }
  }

  &--destination {
    .calling__station {
      &:before {
        height: 20px;
      }
    }
  }

  &--origin,
  &--destination {
    .calling__station-name {
      &:before {
        background-color: $color-text;
        height: 16px;
        left: -25px;
        top: 3px;
        width: 16px;
      }
    }
  }

  &__time {
    display: inline-block;
    float: left;
    font-size: 18px;
    letter-spacing: -.05px;
    margin-right: 1em;
  }

  &__station {
    margin-left: 5em;
    position: relative;

    &:before {
      background-size: 2px;
      background: $color-gray;
      bottom: -.25em;
      content: ' ';
      display: block;
      left: -18px;
      position: absolute;
      top: -.25em;
      width: 2px;
      z-index: 1;
    }
  }

  &__station-name {
    &:before {
      background: $color-inverted;
      border: 1px solid $color-gray-dark;
      border-radius: 50%;
      content: ' ';
      height: 12px;
      left: -23px;
      position: absolute;
      top: 5px;
      width: 12px;
      z-index: 3;
    }
  }

  &__station-due {
    color: $color-gray-dark;
    font-size: 14px;
  }
}
