body {
  background-color: $color-body-background;
  color: $color-text;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text;

  small {
    font-weight: 400;
    line-height: 1;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}
