$color-text: #2d3039;
$color-text-faded: gray;
$color-action: #48d5b5;
$color-action-background: #d1f4ec;
$color-action-accent: #004a73;
$color-inverted: #fff;
$color-gray: #cac8c9;
$color-gray-dark: #999;
$color-gray-ligth: #eee;
$color-danger: red;
$color-success: #197328;
$color-body-background: #f4f4f4;
